**Creating a DataFrame birds from this dictionary data which has the index labels.**

In [93]:
import pandas as pd
import numpy as np
data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
birdDf = pd.DataFrame(data, index= labels)
print(birdDf)

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

**A summary of the basic information about birds DataFrame and its data.**

In [94]:
print(birdDf.shape)
print(birdDf.columns)
print(birdDf.index)

(10, 4)
Index(['birds', 'age', 'visits', 'priority'], dtype='object')
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

**Printing the first 2 rows of the birds dataframe**

In [95]:
print(birdDf.head(2))

    birds  age  visits priority
a  Cranes  3.5       2      yes
b  Cranes  4.0       4      yes

**Printing all the rows with only 'birds' and 'age' columns from the dataframe**

In [15]:
print(birdDf[['birds','age']])

        birds  age
a      Cranes  3.5
b      Cranes  4.0
c     plovers  1.5
d  spoonbills  NaN
e  spoonbills  6.0
f      Cranes  3.0
g     plovers  5.5
h      Cranes  NaN
i  spoonbills  8.0
j  spoonbills  4.0

**Selecting [2, 3, 7] rows and in columns ['birds', 'age', 'visits']**

In [28]:
modifiedDf = birdDf[['birds','age','visits']]
print(modifiedDf.iloc[[2,3,7]])

        birds  age  visits
c     plovers  1.5       3
d  spoonbills  NaN       4
h      Cranes  NaN       2

**Selecting the rows where the number of visits is less than 4**

In [29]:
print(birdDf.loc[birdDf['visits']<4])

        birds  age  visits priority
a      Cranes  3.5       2      yes
c     plovers  1.5       3       no
e  spoonbills  6.0       3       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

**Selecting the rows with columns ['birds', 'visits'] where the age is missing i.e NaN**

In [54]:
newDf = birdDf.loc[birdDf['age'].isna()]
print(newDf[['birds','visits']])

        birds  visits
d  spoonbills       4
h      Cranes       2

**Selecting the rows where the birds is a Cranes and the age is less than 4**

In [55]:
changedDf = birdDf.loc[birdDf['age']<4]
print(changedDf.loc[changedDf['birds']=='Cranes'])

    birds  age  visits priority
a  Cranes  3.5       2      yes
f  Cranes  3.0       4       no

**Selecting the rows the age is between 2 and 4(inclusive)**

In [56]:
print(birdDf.loc[(birdDf['age']>=2) & (birdDf['age']<=4)])

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
f      Cranes  3.0       4       no
j  spoonbills  4.0       2       no

**Finding the total number of visits of the bird Cranes**

In [58]:
cranesBird = birdDf.loc[birdDf['birds']=='Cranes']
print(cranesBird['visits'].sum())

12

**Calculating the mean age for each different birds in dataframe.**

In [63]:
print(birdDf.groupby('birds').mean())

            age  visits
birds
Cranes      3.5     3.0
plovers     3.5     2.5
spoonbills  6.0     3.0

**Appending a new row 'k' to dataframe with random values for each column. Then deleting that row to return the original DataFrame.**

In [78]:
birdDf.loc['k'] = ['Parrot', 5.0, 2.0, 'no']
print('new df', birdDf)
birdDf = birdDf.drop('k')
print('old df',birdDf)

new df         birds  age visits priority
a      Cranes  3.5      2      yes
b      Cranes    4      4      yes
c     plovers  1.5      3       no
d  spoonbills  NaN      4      yes
e  spoonbills    6      3       no
f      Cranes    3      4       no
g     plovers  5.5      2       no
h      Cranes  NaN      2      yes
i  spoonbills    8      3       no
j  spoonbills    4      2       no
k      Parrot    5      2       no
old df         birds  age visits priority
a      Cranes  3.5      2      yes
b      Cranes    4      4      yes
c     plovers  1.5      3       no
d  spoonbills  NaN      4      yes
e  spoonbills    6      3       no
f      Cranes    3      4       no
g     plovers  5.5      2       no
h      Cranes  NaN      2      yes
i  spoonbills    8      3       no
j  spoonbills    4      2       no

**Finding the number of each type of birds in dataframe (Counts)**

In [87]:
print(birdDf.groupby('birds').count())

            age  visits  priority
birds
Cranes        3       4         4
plovers       2       2         2
spoonbills    3       4         4

**Sorting dataframe (birds) first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order.**

In [90]:
birdDf.sort_values('age',ascending=False,inplace=True)
print('age descending\n',birdDf)
birdDf.sort_values('visits',ascending=True,inplace=True)
print('visit ascending\n',birdDf)

age descending
         birds  age visits priority
i  spoonbills    8      3       no
e  spoonbills    6      3       no
g     plovers  5.5      2       no
j  spoonbills    4      2       no
b      Cranes    4      4      yes
a      Cranes  3.5      2      yes
f      Cranes    3      4       no
c     plovers  1.5      3       no
h      Cranes  NaN      2      yes
d  spoonbills  NaN      4      yes
visit ascending
         birds  age visits priority
g     plovers  5.5      2       no
j  spoonbills    4      2       no
a      Cranes  3.5      2      yes
h      Cranes  NaN      2      yes
i  spoonbills    8      3       no
e  spoonbills    6      3       no
c     plovers  1.5      3       no
b      Cranes    4      4      yes
f      Cranes    3      4       no
d  spoonbills  NaN      4      yes

**Replacing the priority column values with'yes' should be 1 and 'no' should be 0**

In [91]:
birdDf['priority'] = birdDf['priority'].replace('yes',1)
birdDf['priority'] = birdDf['priority'].replace('no',0)
print(birdDf)

        birds  age visits  priority
g     plovers  5.5      2         0
j  spoonbills    4      2         0
a      Cranes  3.5      2         1
h      Cranes  NaN      2         1
i  spoonbills    8      3         0
e  spoonbills    6      3         0
c     plovers  1.5      3         0
b      Cranes    4      4         1
f      Cranes    3      4         0
d  spoonbills  NaN      4         1

**In the 'birds' column, changing the 'Cranes' entries to 'trumpeters'.**

In [92]:
birdDf['birds'] = birdDf['birds'].replace('Cranes','trumpeters')
print(birdDf)

        birds  age visits  priority
g     plovers  5.5      2         0
j  spoonbills    4      2         0
a  trumpeters  3.5      2         1
h  trumpeters  NaN      2         1
i  spoonbills    8      3         0
e  spoonbills    6      3         0
c     plovers  1.5      3         0
b  trumpeters    4      4         1
f  trumpeters    3      4         0
d  spoonbills  NaN      4         1